If:
  PathMatch:
    - .*\.(cpp|hpp|h)$

CompileFlags:
  CompilationDatabase: build

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  Includes:
    AnalyzeAngledIncludes: true
  Suppress:
    - modernize-use-trailing-return-type
    - performance-unnecessary-value-param
    - misc-unused-using-decls
  ClangTidy:
    FastCheckFilter: Strict
    Remove:
      - performance-unnecessary-value-param
      - modernize-use-trailing-return-type
      - misc-unused-using-decls

Index:
  Background: Build
  StandardLibrary: true
