If:
  PathMatch:
    - build/.*
    - .*/pch\.hpp
Diagnostics:
  Suppress: "*"
Index:
  Background: Skip

---
If:
  PathMatch:
    - .*\.(cpp|hpp|h)$
  PathExclude:
    - include/llvm-c/.*
    - external/.*
    - build/.*
    - .*/pch\..*

CompileFlags:
  CompilationDatabase: build
  Add:
    - -Ibuild/debug
    - -Iinclude

Diagnostics:
  Includes:
    AnalyzeAngledIncludes: true
  Suppress:
    - modernize-use-trailing-return-type
    - performance-unnecessary-value-param
    - misc-unused-using-decls
  ClangTidy:
    FastCheckFilter: Strict
    Remove:
      - performance-unnecessary-value-param
      - modernize-use-trailing-return-type
      - misc-unused-using-decls

Index:
  Background: Build
  StandardLibrary: true
