If:
  PathMatch:
    - .*\.(cpp|hpp|h)$

CompileFlags:
  CompilationDatabase: build
  Remove: [-O*, -f*, -m*, -W*, gl*, -std=*]
  Add:
    - -Ibuild/Debug
    - -Iinclude
    - src/pch.hpp
    - -std=c++23

Diagnostics:
  Includes:
    AnalyzeAngledIncludes: true
  Suppress:
    - modernize-use-trailing-return-type
    - performance-unnecessary-value-param
    - misc-unused-using-decls
  ClangTidy:
    FastCheckFilter: Strict
    Remove:
      - performance-unnecessary-value-param
      - modernize-use-trailing-return-type
      - misc-unused-using-decls

Index:
  Background: Build
  StandardLibrary: true

InlayHints:
  Enabled: false

---
If:
  PathMatch: .*/(external|third_party|submodules|build)/.*
Diagnostics:
  Suppress: "*"
Index:
  Background: Skip
